.progress-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: 40px;
}
.progress-bar li {
  position: relative;
  z-index: 2;
}

.progress-bar li:not(:last-child)::before {
  content: '';
  background: #ddd;
  position: absolute;
  width: 150px;
  height: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  transition: 0.5s;
}

.progress-bar li.active span {
  background-color: #72a8d0;
}

.progress-bar li.completed::before  {
  background-color: #72a8d0;
}

.progress-bar li.completed svg, .progress-bar li.active svg {
  filter: invert(1);
  transition: 0.5s;
}
.progress-bar li span {
  width: 40px;
  height: 40px;
  background: #ddd;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.progress-bar li span img {
  width: 10px;
  height: 10px;
}
.progress-bar li:not(:last-child) {
  margin-right: 100px;
}
